.BalanceView {
  & ion-card-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    & ion-text {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
  
      & ion-icon {
        margin-left: 10px;
      }
    }
  }
}